body, td, input, textarea, select 
{
font-family: Arial, Helvetica, sans-serif; 
font-size: 80%; 
text-decoration: none; 
background-color:#fff;
}

html>body,
html>body input,
html>body select,
html>body textarea
{
font-size: 90%; 
}

body
{
margin:0 0 2em 0;
padding: 1em; 
text-align: center;
}

a
{
text-decoration: underline;
color: #000099;
}

a:hover
{
text-decoration: underline;
color: #cc0000;
}

h3, h1
{
margin:0;
}

h1
{
font-size:1.6em;
}

h2
{
font-size:1.4em;
}

h3
{
font-size:1.2em;
}

ul
{
list-style-type: none;
}

code
{
background-color: #ffc;
padding: 0.2em;
border: inset 1px #ee9;
display:block;
font-family:courier;
}


/**** STRUCTURE ****/

#main-wrap
{
width: 80%;
margin: 0 auto;
text-align:left;
padding:0;
}

#main
{
width:100%;
margin:1em 0;
clear:both;
}

#main #left-bar
{
width:20%;
float:left;
}

#main #center
{
margin-left: 21%;
}

#bottom-bar
{
margin:1em;
clear:both;
text-align:center;
}

#right-bar
{
padding: 0.5em;
float: right;
}

/**** TOP BAR ****/

#top-bar
{
padding:0;
}

#top-bar #logo
{
float: left;
}

#top-bar .banner
{
float: right;
}

#top-nav
{
clear:both;
padding: 0.2em 0.5em;
background-color: #ed6;
}

#top-nav h3
{
margin:0 1em 0 0;
float:left;
}

#top-nav ul.groups a
{
text-decoration: none;
}

#top-nav ul.groups a:hover
{
text-decoration: underline;
}

#top-nav ul.groups li
{
padding: 0.2em 0;
text-align: center;
display:inline;
}

#top-nav ul.groups li.selected
{
font-weight: bold;
}

#search-bar
{
clear: both;
background-color: #f5f5f5;
color: #dc2828;
text-align: right;
padding: 0.1em;
}

#search-form
{
margin: 0;
}

#search-form fieldset
{
padding:0;
margin:0;
border-width:0;
}

#search-form .search-input
{
width: 100px;
font-size: 0.9em; 
}

#search-form .search-submit
{
font-weight: bold;
font-size: 0.9em; 
color: #4C599C;
border-color: #EAEAD5; 
}

#search-form legend
{
display:none;
}


/**** BREADCRUMB ****/

.breadcrumb
{
margin: 0 0 1em 0;
padding: 0.2em 0.5em;
background-color: #ddd;
}

.breadcrumb a
{
text-decoration: none;
}



/**** NAV BAR ****/

ul.menu
{
margin: 0;
padding: 0;
}

ul.menu li a
{
text-decoration: none;
color:#4d4d4d;
}

ul.menu li a:hover
{
text-decoration: underline;
color: #ff0000;
}

ul.menu li.selected a,
ul.menu li.selected a:hover
{
font-weight: bold;
}

#left-bar .banner
{
margin: 1em 0;
}

#left-bar .menu-footer
{
font-size:0.8em;
}

#center
{
margin: 0;
padding: 0;
text-align: left;
}

ul.menu li.selected
{
font-weight:bold;
}

ul.menu li
{
font-weight:normal;
}


/* IMAGES */

img
{
border-width:0;
}

img.right,
.flash-right
{
float:right;
margin: 1em 0em 1em 1em;
}

img.left,
.flash-left
{
float:left;
margin: 1em 1em 1em 0em;
}

img.standalone,
.flash-standalone
{
display:block;
margin:0.5em 0;
}


/*** EVENTS LIST ***/

ul.events
{
margin: 0 0 1em 0;
padding: 0;
}

ul.events li
{
margin-bottom:0.8em;
font-size:0.9em;
}

.event-type
{
text-transform: uppercase;
}


/*** ITEMS LIST ***/

#side-bar ul.items .caption
{
margin:0;
padding: 5px 10px 10px;
border-bottom:1px solid #002A6A;
width:186px;
}

ul.items
{
margin: 1em 0;
padding: 0 1em;
float:left;
width:92%;
}

ul.items li
{
margin: 0 0 0.8em 0;
clear:both;
}

ul.items .item-date
{
font-size:0.9em;
}

ul.items .item-length
{
margin:0.3em;
font-style:italic;
font-size:0.9em;
}

/* ARTICLE */

.headings
{
margin: 1em 0;
}

.headings .notes,
.headings .source
{
margin-top:0.5em;
font-size:0.8em;
}

.subhead
{
font-style:italic;
}


/* PAGING */

.paging-bar
{
float:left;
width:100%;
font-size: 0.8em;
text-align: right;
padding: 2px 0;
border-bottom: 1px solid #4d4d4d;
color: #4d4d4d;
}


/* FORMS */

#content fieldset {
border:1px solid #2F2F2F;
padding-top:1em;
}

#content legend {
margin-left:1em;
padding: 0 5px;
}

#content label {
width:25%;
text-align:right;
float:left;
margin-right:10px;
}

abbr.required {
color:red;
padding-left:5px;
}

fieldset {
margin-bottom:0.7em;
}

ul.form-inputs
{
width:90%;
padding:0;
margin:0;
}

ul.form-inputs li 
{
margin:0.3em 0;
padding:0.2em;
clear:left;
}

ul.form-inputs li input,
ul.form-inputs li textarea,
ul.form-inputs li select
{
font-family: sans-serif; 
margin-left:1%;
}

ul.form-inputs li input.checkbox,
ul.form-inputs li input.radio
{
margin-left:21%;
}

ul.form-inputs li label
{
float:left;
width:20%;
text-align:right;
padding-top: 0.2em;
font-size:0.9em;
margin-right:10px;
}

ul.form-inputs li label.checkbox,
ul.form-inputs li label.radio
{
margin-left:25%;
display:inline;
text-align:left;
position:relative;
top:-20px;
width:70%;
margin-bottom:-20px;
}

label.required
{
font-weight: bold;
}

ul.form-inputs li.form-notes
{
font-style:italic;
padding:0 1em;
font-size:0.9em;
}

ul.form-inputs li.wrong
{
background-color:#FFD1D4;
border:solid 1px #a00;
border-left:solid 6px #a00;
}

ul.form-inputs li input.med,
ul.form-inputs li textarea
{
width:10em;
}

ul.form-inputs li input.small
{
width:6em;
}

ul.form-inputs li textarea.med
{
height:5em;
}

ul.form-inputs li textarea.large
{
height:10em;
}

ul.form-inputs li textarea.extralarge
{
height:20em;
}

ul.form-inputs li #description.med,
ul.form-inputs li #description_long,
ul.form-inputs li #place_details.med {
width:75%;
}

ul.form-inputs li input:focus,
ul.form-inputs li textarea:focus
{
background-color:#FFFBCC;
}

ul.form-inputs li.buttons
{
padding-left:22%;
}

ul.form-inputs li.buttons input
{
margin-left:0;
margin-right:1em;
}

fieldset.mchoice
{
margin-left:20%;
padding:0.5em;
}

fieldset.mchoice ul.form-inputs li
{
padding:0;
}

fieldset.mchoice ul.form-inputs li input.checkbox
{
margin-left:1em;
}

li.funding .currency 
{
font-size:0.9em;
}

li.funding .account
{
font-size:0.9em;
margin-left:1em;
}

li.funding .amount
{
margin-left:1em;
font-weight:bold;
}

ul.form-inputs li label.invalid {
color:#AA0000;
font-style:italic;
font-weight:bold;
margin-left:10px;
float:none;
width:auto;
text-align:left;
}

ul.form-inputs li.invalid {
background-color:#FFDDDD;
}

ul.form-inputs li input.invalid {
border:1px dotted red;
}


input.error {
background-color:#FDD;
}

/* COMMENTS */

div.comments
{
border:solid 1px #ddd;
padding:0.3em;
margin:0.5em;
font-style:italic;
font-size:0.8em;
background-color:#eee;
}

div.comments h3
{
display:inline;
margin-right:1em;
font-size:1em;
font-weight:normal;
text-transform:uppercase;
}


/* GALLERY IMAGES */

.gallery-image .image-info {
float:left;
padding:0.5em;
}

.gallery-image .image-info .image-date, 
.gallery-image .image-info .source, 
.gallery-image .image-info .orig, 
.gallery-image .image-info .notes, 
.gallery-image .image-info .author {
font-size:0.8em;
margin:0.4em 0;
}

.gallery-image .image-info .orig, 
.gallery-image .image-info .notes {
border-top: dashed 1px #666;
padding:0.4em 0;
}

#prev-next
{
font-size:0.8em;
font-style:italic;
border-bottom:dashed 1px #666;
padding-bottom:0.4em;
margin-bottom:1em;
}


/* VARIA */

#tool-bar
{
float:right;
width:80px;
border: solid 1px #888;
padding: 0.5em;
margin: 1em 0 1em 1em;
font-size:0.8em;
}

#share h4 {
margin:0;
}

#share ul {
margin:0;
padding:0 0.5em;
}

#share ul li a {
background-image:url(/logos/icons-sprite.png);
background-repeat:no-repeat;
padding:0 0 0 20px;
line-height:1.6;
display:block;
text-decoration:none;
}

#share li.digg a {
background-position:0px -1097px;
}

#share li.facebook a {
background-position:0px -1197px;
}

#share li.stumbleupon a {
background-position:0px -897px;
}

#share li.delicious a {
background-position:0px -997px;
}

#share li.reddit a {
background-position:0px -1397px;
}

#share li.googlebookmarks a {
background-position:0px -1297px;
}

.tagcloud a {
text-decoration: none;
}

.tagcloud a:hover {
text-decoration: underline;
}
  	
.error-msg
{
margin: 1em 0;
background-color: #FF2F2F;
padding: 0.5em;
color:#FFF;
}

.notice-msg
{
margin: 1em 0;
padding: 0.5em;
border-bottom: 1px solid #BFBFBF;
color:#BFBFBF;
}

#rss
{
text-align:center;
margin: 0.5em 0.2em;
}

#print-summary
{
margin-bottom:1em;
border:solid 1px #ccc;
padding:0.5em;
font-size:0.8em;
}

#phpeace
{
font-size:0.8em;
color:#555;
}

#phpeace a
{
color:#555;
}

#phpeace a:hover
{
color:#c44;
}

#user-info
{
margin:0;
padding:0.3em 1em;
}

#user-info h2
{
margin:0;
font-size:1em;
}

#user-info p 
{
margin:0;
}

#user-auth
{
font-size:0.8em;
}

.login-first {
padding:0.7em;
}

.login-links {
margin:0.4em 0;
font-size:1.1em;
}

.licence 
{
float:left;
width:95%;
margin:0.3em;
padding:0.3em;
border:solid 1px #a00;
}

.licence-info
{
font-style:italic;
font-size:0.9em;
}

.licence-info h4
{
margin:0;
font-weight:normal;
}

.inline
{
display:inline;
margin-right:1em;
}

.hidden
{
position:absolute;
left:0;
top:-1000em;
height:1px;
width:1px;
margin:-1000em;
}

